// ========== BurgerMenu Main Styles

div.burger {
	cursor: pointer;
	transform: rotateY(180deg);

	span.burgers {
		display: block;
		width: .8rem;
		height: .14rem;
		background-color: $dark-young;
		margin-bottom: .2rem;

		&:nth-child(2) {
			width: .55rem;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}