// ========== BurgerMenu Main Styles

div.burger {
	cursor: pointer;
	transform: rotateY(180deg);

	span.burgers {
		font-size: 1.3rem;
		display: block;
		width: .8em;
		height: .14em;
		background-color: $dark;
		margin-bottom: .2em;
		border-radius: 10em;

		&:nth-child(2) {
			width: .55em;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}