// ========== Container Main Styles

div.container {
	max-width: 85%;
	width: calc(100% - 4rem);
	margin: 0 auto;

	&-relative {
		position: relative;
	}

	&-fluid {
		max-width: 100%;
		width: 100%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
	div.container {
		max-width: 90%;
	}
}