// ========== Fonts

$primary: #FFBA33;
$secondary: #6A4029;
$secondary-young: #C59378;
$green: #88B788;
$dark: #0B132A;
$dark-young: #4F5665;
$dark-old: #362115;
$gray: #EFEEEE;
$placeholder-color: #9F9F9F;