// ========== Fonts

// Main Fonts
@font-face {
	src: url('../assets/fonts/rubik/Rubik-Regular.ttf');
	font-family: rubik;
}

@font-face {
	src: url('../assets/fonts/rubik/Rubik-Bold.ttf');
	font-family: rubik-bold;
}

@font-face {
	src: url('../assets/fonts/rubik/Rubik-Italic.ttf');
	font-family: rubik-italic;
}

@font-face {
	src: url('../assets/fonts/rubik/Rubik-Black.ttf');
	font-family: rubik-black;
}

// Secondary Fonts
@font-face {
	src: url('../assets/fonts/poppins/Poppins-Regular.ttf');
	font-family: poppins;
}

@font-face {
	src: url('../assets/fonts/poppins/Poppins-Bold.ttf');
	font-family: poppins-bold;
}

@font-face {
	src: url('../assets/fonts/poppins/Poppins-Italic.ttf');
	font-family: poppins-italic;
}

@font-face {
	src: url('../assets/fonts/poppins/Poppins-Black.ttf');
	font-family: poppins-black;
}