// ========== Button Main Styles

button.btn {
	outline: none;
	border: none;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	&-fluid {
		width: 100% !important;
	}

	&-shadow-primary {
		box-shadow: 0 0 30px -7px $primary;
	}

	&-shadow-secondary {
		box-shadow: 0 0 30px -7px $secondary;
	}
	
	&-xl {
		font-size: 1.2rem;
		min-width: 10em;
		height: 3em;
		padding: 0 2em;
	}

	&-lg {
		font-size: 1.1rem;
		min-width: 10em;
		height: 3em;
		padding: 0 2em;
	}

	&-md {
		font-size: 1rem;
		min-width: 10em;
		height: 3em;
		padding: 0 2em;
	}

	&-sm {
		font-size: 1rem;
		min-width: 9em;
		height: 2.8em;
		padding: 0 2em;
	}

	&-primary {
		border: 1px solid $primary;
		background-color: $primary;
		color: $secondary;
	}

	&-secondary {
		border: 1px solid $secondary;
		background-color: $secondary;
		color: white;
	}

	&-outline-primary {
		border: 2px solid $primary;
		background-color: transparent;
		color: $secondary;
		transition: .5s background-color;

		&:enabled:hover {
			background-color: $primary;
		}
	}

	&-outline-secondary {
		border: 2px solid $secondary;
		background-color: transparent;
		color: $primary;
		transition: .5s background-color;

		&:enabled:hover {
			background-color: $secondary;
		}
	}

	&-rounded {
		border-radius: 12px;
	}

	&-full-rounded {
		border-radius: 50px;
	}
}